---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">Algorithmus</h1>
    <p class="mb-8 max-w-4xl">
      Ein Algorithmus ist eine Reihe von klar definierten Schritten, die dazu
      dienen, ein Problem zu lösen oder eine Aufgabe zu erfüllen. In der
      Programmierung sind Algorithmen essenziell, um Computer dazu zu bringen,
      Aufgaben effizient und korrekt auszuführen. Sie bilden die Grundlage für
      alle Softwarelösungen und helfen dabei, Prozesse zu strukturieren und zu
      optimieren.
    </p>

    <div class="max-w-4xl w-full">
      <div class="border border-gray-300 p-4 mb-4">
        <h2 class="text-xl font-bold mb-2">Definition eines Algorithmus</h2>
        <p class="mb-8 max-w-4xl">
          Ein Algorithmus besteht aus einer klaren
          Schritt-für-Schritt-Anleitung, die ein bestimmtes Ziel erreicht. Diese
          Schritte sind logisch geordnet und führen immer zu einem Ergebnis,
          wenn sie korrekt ausgeführt werden. Zum Beispiel kann ein Algorithmus
          verwendet werden, um eine Liste von Zahlen zu sortieren oder eine
          mathematische Berechnung durchzuführen.
        </p>
      </div>

      <div class="border border-gray-300 p-4 mb-4">
        <h2 class="text-xl font-bold mb-2">Warum sind Algorithmen wichtig?</h2>
        <p class="mb-8 max-w-4xl">
          Algorithmen sind das Herzstück der Programmierung. Sie bestimmen, wie
          ein Computer Probleme löst und Daten verarbeitet. Ein gut durchdachter
          Algorithmus kann die Geschwindigkeit, Genauigkeit und Effizienz eines
          Programms erheblich verbessern. Ohne Algorithmen wären moderne
          Technologien wie Suchmaschinen, künstliche Intelligenz oder
          Kryptographie nicht möglich.
        </p>
      </div>

      <div class="border border-gray-300 p-4 mb-4">
        <h2 class="text-xl font-bold mb-2">Beispiele für Algorithmen</h2>
        <p class="mb-8 max-w-4xl">
          Algorithmen finden sich in vielen Bereichen der Informatik, wie zum
          Beispiel:
          <ul class="list-disc pl-5">
            <li>Sortieralgorithmen: Zum Beispiel QuickSort oder MergeSort.</li>
            <li>Suchalgorithmen: Wie binäre Suche oder Tiefensuche.</li>
            <li>
              Kryptographische Algorithmen: Für sichere Datenverschlüsselung.
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
