---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">Gantt-Diagramm?</h1>
    <p class="mb-8 max-w-4xl">
      Ein Gantt-Diagramm ist ein Werkzeug zur Projektplanung und -überwachung.
      Es stellt Aufgaben als Balken auf einer Zeitachse dar und zeigt, wann jede
      Aufgabe beginnt und endet. Es hilft dabei, den Fortschritt eines Projekts
      visuell zu verfolgen und Abhängigkeiten zwischen Aufgaben zu erkennen.
    </p>

    <h2 class="text-xl font-bold mb-4 mt-8">Vorteile eines Gantt-Diagramms</h2>
    <ul class="list-none pl-6 space-y-4 max-w-4xl">
      <li>
        <strong>Visuelle Übersicht</strong>: Zeigt den Projektfortschritt und
        Abhängigkeiten zwischen Aufgaben auf einen Blick.
      </li>
      <li>
        <strong>Effiziente Planung</strong>: Hilft dabei, Zeitpläne und
        Ressourcen für jede Aufgabe zu koordinieren.
      </li>
      <li>
        <strong>Bessere Kommunikation</strong>: Alle Teammitglieder können den
        Status des Projekts klar nachvollziehen.
      </li>
      <li>
        <strong>Frühzeitige Problemerkennung</strong>: Ermöglicht das Erkennen
        von Verzögerungen oder Engpässen in einem frühen Stadium.
      </li>
    </ul>

    <h2 class="text-xl font-bold mb-4 mt-8">Beispiel eines Gantt-Diagramms</h2>
    <img
      src="/Gantt-Diagramm.png"
      alt="Beispiel eines Gantt-Diagramms"
      class="max-w-full h-auto mb-8"
    />
  </div>
</BaseLayout>
