---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">Bedarfsanalyse</h1>
    <p class="mb-8 max-w-4xl">
      Die Bedarfsanalyse ist ein wichtiger Prozess, um die Bedürfnisse und
      Anforderungen von Kunden zu identifizieren. Sie hilft Unternehmen,
      Produkte und Dienstleistungen zu entwickeln, die den spezifischen
      Anforderungen der Zielgruppe entsprechen. Eine gründliche Bedarfsanalyse
      stellt sicher, dass die Lösungen, die entwickelt werden, auf reale
      Kundenbedürfnisse abgestimmt sind.
    </p>
    <div class="max-w-4xl w-full">
      <div class="border border-gray-300 p-4 mb-4">
        <h2 class="text-xl font-bold mb-2">Methoden zur Bedarfsanalyse</h2>
        <ul class="list-none pl-6 space-y-4 max-w-4xl">
          <li>
            <strong>Umfragen</strong>: Durch gezielte Fragen wird Feedback von
            den Kunden gesammelt.
          </li>
          <li>
            <strong>Interviews</strong>: Persönliche Gespräche, um detaillierte
            Informationen zu erhalten.
          </li>
          <li>
            <strong>Beobachtung</strong>: Analyse des Verhaltens der Kunden in
            realen Situationen.
          </li>
          <li>
            <strong>Workshops</strong>: Gemeinsame Diskussionen, um
            Anforderungen und Wünsche zu erfassen.
          </li>
          <li>
            <strong>Focus Groups</strong>: Gruppendiskussionen mit ausgewählten
            Kunden, um Meinungen zu sammeln.
          </li>
          <li>
            <strong>Analysieren von Daten</strong>: Nutzung vorhandener Daten,
            um Trends und Muster zu erkennen.
          </li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
