---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">Was ist ein Lastenheft?</h1>
    <div class="max-w-4xl w-full">
      <p class="mb-8">
        Ein Lastenheft beschreibt alle Anforderungen und Wünsche, die der
        Auftraggeber an ein Produkt oder eine Dienstleistung hat. Es enthält die
        wichtigsten Informationen, damit der Auftragnehmer genau weiß, was
        gefordert wird. Das Lastenheft dient als Grundlage für die Planung und
        das Angebot eines Projekts.
      </p>

      <div class="max-w-4xl w-full">
        <div class="border border-gray-300 p-4 mb-4">
          <h2 class="text-xl font-bold mb-2">
            Typische Inhalte eines Lastenhefts
          </h2>
          <ul class="list-disc list-inside pl-6 space-y-2">
            <li>
              <strong>Zielsetzung:</strong> Das Ziel, das mit dem Projekt erreicht
              werden soll.
            </li>
            <li>
              <strong>Anforderungen:</strong> Die Funktionen und Eigenschaften, die
              das Produkt oder die Dienstleistung erfüllen muss.
            </li>
            <li>
              <strong>Rahmenbedingungen:</strong> Technische und organisatorische
              Bedingungen, wie Budget und Zeitplan.
            </li>
            <li>
              <strong>Verwendung:</strong> Wer wird das Produkt nutzen und wie wird
              es verwendet?
            </li>
            <li>
              <strong>Erwartete Ergebnisse:</strong> Die konkreten Ergebnisse, die
              am Ende des Projekts erwartet werden.
            </li>
            <li><strong>Beschreibung Ausganssituation</strong></li>
            <li><strong>Qualitätsanforderungen</strong></li>
            <li><strong>Zeitliche Rahmenbedingungen</strong></li>
          </ul>
        </div>

        <div class="border border-gray-300 p-4 mb-4">
          <h2 class="text-xl font-bold mb-2">
            Unterschied zwischen Lastenheft und Pflichtenheft
          </h2>
          <p class="mb-8">
            Der Unterschied zwischen Lastenheft und Pflichtenheft liegt darin,
            wer sie erstellt. Das Lastenheft kommt vom Auftraggeber und
            beschreibt, was gemacht werden soll. Das Pflichtenheft wird vom
            Auftragnehmer geschrieben und erklärt, wie diese Anforderungen
            umgesetzt werden.
          </p>

          <ul class="list-disc list-inside pl-6 space-y-2">
            <li>
              <strong>Lastenheft:</strong> Was soll gemacht werden? (Anforderungen
              des Auftraggebers)
            </li>
            <li>
              <strong>Pflichtenheft:</strong> Wie wird es gemacht? (Lösungsvorschläge
              des Auftragnehmers)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
