---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- Mensaje para pantallas pequeñas -->
  <div
    class="fixed inset-0 flex items-center justify-center bg-yellow-200 text-gray-800 p-4 text-center text-lg font-bold md:hidden"
  >
    <p>
      Diese Webseite ist momentan nicht responsiv. Bitte öffnen Sie sie auf
      einem größeren Bildschirm.
    </p>
  </div>
  <section class="bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Über diese Webseite</h2>
    <p class="text-gray-700 leading-relaxed mb-4">
      Diese Webseite ist dafür gedacht, die gesamte Theorie der
      Fachinformatiker-Prüfung in einfachem Deutsch zu vermitteln. Mit kurzen
      und klaren Erklärungen.
    </p>
    <p class="text-gray-700 leading-relaxed mb-4">
      Außerdem hast du die Möglichkeit, über 50 Fragen zur Prüfung zu
      beantworten und zu üben.
    </p>
    <p class="text-gray-700 leading-relaxed mb-4">
      Alle Themen habe ich aus den letzten Prüfungen seit 2022 zusammengestellt.
    </p>
    <p class="text-gray-700 leading-relaxed">Ich hoffe, es hilft dir weiter!</p>
    <p class="mt-6 text-gray-800 font-semibold">
      Viele Grüße,<br />Manuel Paniagua
    </p>

    <p class="font-light">Kontakt gerne bei email: paniagua.ian.de@gmail.com</p>

    <!-- Nota final -->
    <div class="mt-8 p-4 border-l-4 text-yellow-800">
      <p class="font-bold">Hinweis:</p>
      <p class="leading-relaxed">
        Diese Webseite ist momentan nicht responsiv.
      </p>
    </div>
  </section>
</BaseLayout>
