---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl
font-bold mb-6 text-center">Cache</h1>
    <p class="mb-8 max-w-4xl">
      Cache ist ein Speicherbereich, der dazu dient, häufig benötigte Daten
      schnell bereitzustellen. Er wird verwendet, um den Zugriff auf Daten zu
      beschleunigen und die Leistung eines Systems zu verbessern.
    </p>
    <h2 class="text-xl font-bold mb-4
mt-8">Vorteile von Cache</h2>
    <div class="border border-gray-300 p-4 mb-4
max-w-4xl">
      <ul class="list-none pl-6 space-y-4">
        <li>
          <strong>Schneller Zugriff</strong>: Daten werden schneller geladen,
          weil sie bereits im Cache gespeichert sind.
        </li>
        <li>
          <strong>Leistungssteigerung</strong>: Die Leistung des Systems wird
          verbessert, da weniger Zeit für die Datenbeschaffung aufgewendet wird.
          </li
        </li>
      </ul>
    </div>
  </div></BaseLayout
>
