---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl
font-bold mb-6 text-center">Logische Prozessoren</h1>
    <p class="mb-8
max-w-4xl">
      Logische Prozessoren sind virtuelle Prozessoren, die von der Hardware
      unterstützt werden, um die Leistung eines Computers zu steigern. Sie
      entstehen durch die Technologie der Hyper-Threading oder ähnlichen
      Verfahren, bei denen ein physischer Prozessor in mehrere logische
      Prozessoren aufgeteilt wird.
    </p>
    <h2 class="text-xl font-bold mb-4 mt-8">Wichtige Merkmale</h2>
    <ul class="list-none pl-6 space-y-4 max-w-4xl">
      <li>
        <strong>Virtuelle Prozessoren</strong>: Sie teilen die Aufgaben eines
        physischen Prozessors auf, um die Effizienz zu erhöhen.
      </li>
      <li>
        <strong>Erhöhte Multitasking-Fähigkeiten</strong>: Erlauben es dem
        Computer, mehrere Aufgaben gleichzeitig zu bearbeiten.
      </li>
      <li>
        <strong>Optimierte Leistung</strong>: Bessere Nutzung der
        Hardware-Ressourcen durch parallele Verarbeitung.
      </li>
      <li>
        <strong>Kompatibilität</strong>: Unterstützt durch moderne Prozessoren
        und Betriebssysteme.
      </li>
    </ul>
  </div>
</BaseLayout>
