---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">IT-Infrastruktur</h1>
    <p class="mb-8 max-w-4xl">
      IT-Infrastruktur beschreibt alle technischen Geräte und Systeme, die ein
      Unternehmen für den Betrieb seiner IT benötigt. Dazu gehören Computer,
      Server, Netzwerke und Software. Eine gute IT-Infrastruktur ist wichtig, um
      die tägliche Arbeit zu unterstützen und zu sichern.
    </p>

    <div class="border border-gray-300 p-4 mb-4">
      <h2 class="text-xl font-bold mb-4">
        Vorteile einer zentralen IT-Infrastruktur
      </h2>
      <ul class="list-decimal list-inside pl-6 space-y-4 max-w-4xl">
        <li>
          <strong>Bessere Kontrolle</strong>: Alle Daten und Systeme werden an
          einem Ort verwaltet. Das erleichtert die Überwachung und Pflege der
          Systeme.
        </li>
        <li>
          <strong>Kosteneffizienz</strong>: Durch zentrale Verwaltung kann man
          Kosten sparen, z.B. bei der Hardware und der Verwaltung von
          Softwarelizenzen.
        </li>
        <li>
          <strong>Sicherheit</strong>: Ein zentralisiertes System kann besser
          gegen Bedrohungen geschützt werden, da Sicherheitsmaßnahmen leichter
          implementiert werden können.
        </li>
        <li>
          <strong>Weniger Ausfälle</strong>: Mit einer zentralen
          IT-Infrastruktur kann man Ausfälle schneller beheben, da alle Systeme
          zentral verwaltet werden.
        </li>
        <li>
          <strong>Bessere Skalierbarkeit</strong>: Unternehmen können ihre IT
          einfacher erweitern, wenn die Infrastruktur zentralisiert ist.
        </li>
      </ul>
    </div>

    <p class="mt-8 max-w-4xl">
      Eine zentrale IT-Infrastruktur ist besonders für Unternehmen geeignet, die
      mehrere Standorte oder viele Abteilungen haben. Sie ermöglicht es, alle
      IT-Ressourcen effizient zu verwalten und die Zusammenarbeit zwischen den
      Standorten zu verbessern.
    </p>
  </div>
</BaseLayout>
