---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">Was ist Kanban?</h1>
    <p class="mb-8 max-w-4xl">
      Kanban ist eine Methode zur Organisation und Verbesserung von
      Arbeitsabläufen. Sie hilft dabei, Aufgaben visuell darzustellen und den
      Arbeitsfluss zu optimieren. Kanban basiert auf der Idee, Arbeit in kleine,
      handhabbare Teile aufzuteilen und diese kontinuierlich zu verbessern.
    </p>

    <h2 class="text-xl font-bold mb-4 mt-8">Wichtige Merkmale von Kanban</h2>
    <ul class="list-none pl-6 space-y-4 max-w-4xl">
      <li>
        <strong>Visuelle Darstellung</strong>: Aufgaben werden auf einem
        Kanban-Board angezeigt. Jede Aufgabe wird als Karte dargestellt, die
        durch verschiedene Phasen bewegt wird.
      </li>
      <li>
        <strong>Arbeit in Fortschritt begrenzen</strong>: Die Anzahl der
        Aufgaben, die gleichzeitig bearbeitet werden, wird begrenzt, um
        Überlastung zu vermeiden.
      </li>
      <li>
        <strong>Kontinuierliche Verbesserung</strong>: Der Prozess wird ständig
        überwacht und angepasst, um die Effizienz zu steigern.
      </li>
      <li>
        <strong>Transparenz</strong>: Alle Beteiligten können sehen, welche
        Aufgaben bearbeitet werden und in welchem Zustand sie sich befinden.
      </li>
      <li>
        <strong>Fokus auf den Fluss</strong>: Ziel ist es, Aufgaben schnell und
        effizient durch den Prozess zu bewegen.
      </li>
    </ul>

    <h2 class="text-xl font-bold mb-4 mt-8">
      Vorteile und Nachteile von Kanban
    </h2>
    <div class="grid grid-cols-2 gap-4 max-w-4xl w-full">
      <div class="border border-gray-300 p-4">
        <h3 class="text-lg text-center font-semibold mb-2">Vorteile</h3>
        <ul class="list-disc pl-4 space-y-2">
          <li>
            Verbesserte Übersichtlichkeit durch visuelle Darstellung der
            Aufgaben.
          </li>
          <li>Flexibilität bei der Anpassung an Änderungen und Prioritäten.</li>
          <li>
            Reduzierung der Überlastung durch Begrenzung der gleichzeitig
            bearbeiteten Aufgaben.
          </li>
          <li>Fördert kontinuierliche Verbesserung und Effizienzsteigerung.</li>
        </ul>
      </div>
      <div class="border border-gray-300 p-4">
        <h3 class="text-lg text-center font-semibold mb-2">Nachteile</h3>
        <ul class="list-disc pl-4 space-y-2">
          <li>
            Kann schwierig zu implementieren sein, wenn die Aufgaben komplex
            sind oder viele Abhängigkeiten haben.
          </li>
          <li>
            Erfordert regelmäßige Wartung und Anpassung des Kanban-Boards.
          </li>
          <li>
            Bei unklaren Zielen kann es schwierig sein, den Überblick zu
            behalten.
          </li>
        </ul>
      </div>
    </div>

    <h2 class="text-xl font-bold mb-4 mt-8">
      Für welche Projekte ist Kanban geeignet?
    </h2>
    <p class="max-w-4xl">
      Kanban ist besonders gut geeignet für Projekte und Arbeitsabläufe, bei
      denen es wichtig ist, den Fortschritt visuell zu überwachen und flexibel
      auf Änderungen reagieren zu können. Es wird häufig in Softwareentwicklung,
      IT-Management, Marketing und anderen Bereichen eingesetzt, in denen
      Aufgaben kontinuierlich bearbeitet werden müssen und die Prioritäten oft
      wechseln.
    </p>
  </div>
</BaseLayout>
