---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">Projektschritte</h1>
    <p class="mb-8 max-w-4xl">
      Projektschritte sind die verschiedenen Phasen, die ein Projekt durchläuft,
      um erfolgreich abgeschlossen zu werden. Jeder Schritt ist wichtig, um
      sicherzustellen, dass das Projekt zielgerichtet und effektiv umgesetzt
      wird.
    </p>

    <h2 class="text-xl font-bold mb-4 mt-8">Wichtige Projektschritte</h2>
    <table class="border border-gray-300 max-w-4xl w-full">
      <thead>
        <tr class="bg-gray-200">
          <th class="border px-4 py-2">Projektschritte</th>
          <th class="border px-4 py-2">Inhaltlicher Aspekt</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Projektinitiierung</td>
          <td class="border px-4 py-2"
            >Definition des Projekts und der Ziele, Erstellung des Projektplans</td
          >
        </tr>
        <tr>
          <td class="border px-4 py-2">Beschreibung des Istzustands</td>
          <td class="border px-4 py-2"
            >Analyse und Dokumentation des aktuellen Standes</td
          >
        </tr>
        <tr>
          <td class="border px-4 py-2">Definition des Soll-Konzepts</td>
          <td class="border px-4 py-2"
            >Festlegung der gewünschten Ergebnisse und Ziele des Projekts</td
          >
        </tr>
        <tr>
          <td class="border px-4 py-2">Planung</td>
          <td class="border px-4 py-2"
            >Erstellung eines detaillierten Plans, der Zeitrahmen, Ressourcen
            und Budget umfasst</td
          >
        </tr>
        <tr>
          <td class="border px-4 py-2">Durchführung</td>
          <td class="border px-4 py-2"
            >Umsetzung der geplanten Aufgaben und Aktivitäten</td
          >
        </tr>
        <tr>
          <td class="border px-4 py-2">Überwachung und Kontrolle</td>
          <td class="border px-4 py-2"
            >Überprüfung des Fortschritts, Identifizierung von Abweichungen und
            Anpassungen</td
          >
        </tr>
        <tr>
          <td class="border px-4 py-2">Abschluss</td>
          <td class="border px-4 py-2"
            >Abschluss des Projekts, Evaluierung der Ergebnisse und
            Dokumentation</td
          >
        </tr>
      </tbody>
    </table>
  </div>
</BaseLayout>
