---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center mt-4 lg:mt-0">
    <h1 class="text-3xl font-bold mb-6 text-center">Merkmale eines Projekts</h1>
    <ul class="list-decimal list-inside pl-6 space-y-4 max-w-4xl">
      <li>
        <strong>Einzigartigkeit</strong>: Jedes Projekt hat ein einzigartiges
        Ziel, Ergebnis oder Produkt. Es unterscheidet sich in seiner Art, den
        Ergebnissen oder der Durchführung von anderen wiederkehrenden oder
        routinemäßigen Aufgaben.
      </li>
      <li>
        <strong>Zielorientierung</strong>: Ein Projekt verfolgt spezifische
        Ziele oder Ergebnisse, die es erreichen soll. Diese Ziele müssen klar
        definiert und messbar sein.
      </li>
      <li>
        <strong>Zeitliche Begrenzung</strong>: Projekte haben einen definierten
        Anfang und ein Ende. Sie sind auf eine bestimmte Dauer begrenzt,
        innerhalb derer die Ziele erreicht werden müssen.
      </li>
      <li>
        <strong>Ressourcennutzung</strong>: Projekte erfordern die Zuweisung und
        Verwaltung von Ressourcen wie Personal, Materialien, Finanzen und Zeit.
        Die effiziente Nutzung dieser Ressourcen ist entscheidend für den Erfolg
        des Projekts.
      </li>
      <li>
        <strong>Einmalige Ergebnisse</strong>: Das Ergebnis eines Projekts ist
        ein einzigartiges Produkt, eine Dienstleistung oder ein Ergebnis, das
        ein bestimmtes Ziel erfüllt. Es ist nicht einfach eine wiederkehrende
        Aktivität oder eine Routineaufgabe.
      </li>
      <li>
        <strong>Unsicherheit und Risiko</strong>: Projekte sind oft mit
        Unsicherheiten und Risiken verbunden. Die Unsicherheit kann aus der
        Komplexität, dem Umfang oder dem Fehlen von Informationen resultieren.
        Ein effektives Risikomanagement ist erforderlich, um potenzielle
        Probleme zu minimieren.
      </li>
      <li>
        <strong>Komplexität</strong>: Projekte können komplex sein, insbesondere
        wenn sie viele Beteiligte, viele Aufgaben oder unterschiedliche
        Fachkenntnisse erfordern. Die Komplexität kann sich auf die Planung,
        Durchführung und Überwachung des Projekts auswirken.
      </li>
      <li>
        <strong>Interdisziplinarität</strong>: Projekte erfordern oft die
        Zusammenarbeit von Fachleuten aus verschiedenen Disziplinen oder
        Bereichen. Das Zusammenarbeiten unterschiedlicher Experten kann die
        Komplexität des Projekts erhöhen, aber auch zu innovativen Lösungen
        führen.
      </li>
      <li>
        <strong>Spezifische Anforderungen</strong>: Projekte haben spezifische
        Anforderungen, die erfüllt werden müssen. Diese Anforderungen können
        technischer, funktionaler oder geschäftlicher Natur sein.
      </li>
      <li>
        <strong>Änderungsanfälligkeit</strong>: Während der Projektdurchführung
        können Änderungen an den Anforderungen, dem Umfang oder den Ressourcen
        erforderlich sein. Projektmanagement muss in der Lage sein, Änderungen
        effektiv zu verwalten.
      </li>
      <li>
        <strong>Projektorganisation</strong>: Projekte haben eine spezifische
        Organisation und Struktur, einschließlich eines Projektleiters,
        Projektteams und möglicherweise eines Lenkungsausschusses. Diese
        Struktur hilft bei der Koordination und Steuerung des Projekts.
      </li>
    </ul>
  </div>
</BaseLayout>
