---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">SMART-Ziele</h1>
    <ul class="list-none pl-6 space-y-4 max-w-4xl">
      <li><strong>S</strong> - Spezifisch</li>
      <li><strong>M</strong> - Messbar</li>
      <li><strong>A</strong> - Erreichbar</li>
      <li><strong>R</strong> - Relevant</li>
      <li><strong>T</strong> - Terminiert</li>
    </ul>

    <div class="mt-8 max-w-4xl">
      <h2 class="text-xl font-bold mb-4">Was bedeutet SMART?</h2>
      <p class="mb-4">
        <strong>Spezifisch</strong>: Das Ziel muss klar und genau definiert
        sein. Es sollte keine Unklarheiten darüber geben, was erreicht werden
        soll.
      </p>
      <p class="mb-4">
        <strong>Messbar</strong>: Es muss möglich sein, den Fortschritt und die
        Erreichung des Ziels zu messen. Klare Kriterien helfen dabei, den Erfolg
        zu bewerten.
      </p>
      <p class="mb-4">
        <strong>Erreichbar</strong>: Das Ziel sollte realistisch und erreichbar
        sein. Es muss in den gegebenen Ressourcen und dem Zeitrahmen machbar
        sein.
      </p>
      <p class="mb-4">
        <strong>Relevant</strong>: Das Ziel sollte wichtig und relevant für die
        Person oder das Projekt sein. Es sollte einen echten Nutzen bringen und
        im Einklang mit den größeren Zielen stehen.
      </p>
      <p class="mb-4">
        <strong>Terminiert</strong>: Es sollte eine klare Frist oder ein
        Enddatum für das Erreichen des Ziels geben. Ein festgelegter Zeitrahmen
        hilft, den Fortschritt zu überwachen und die Motivation zu erhalten.
      </p>
    </div>
  </div>
</BaseLayout>
