---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">Stakeholder</h1>
    <p class="mb-8 max-w-4xl">
      Stakeholder sind Personen oder Gruppen, die ein Interesse an einem Projekt
      haben oder von den Ergebnissen des Projekts betroffen sind. Sie können
      sowohl intern als auch extern zum Projekt gehören und spielen eine
      wichtige Rolle bei der erfolgreichen Durchführung eines Projekts.
    </p>
    <div class="border border-gray-300 p-4 mb-4">
      <h2 class="text-xl font-bold mb-4">Arten von Stakeholdern</h2>
      <ul class="list-disc pl-6 space-y-4 max-w-4xl">
        <li>
          <strong>Projektauftraggeber</strong>: Die Person oder Organisation,
          die das Projekt initiiert und finanziert.
        </li>
        <li>
          <strong>Projektteam</strong>: Die Mitarbeiter, die direkt an der
          Durchführung des Projekts beteiligt sind.
        </li>
        <li>
          <strong>Kunden</strong>: Die Personen oder Organisationen, die das
          Endprodukt oder die Dienstleistung des Projekts nutzen.
        </li>
        <li>
          <strong>Lieferanten</strong>: Unternehmen oder Einzelpersonen, die
          Ressourcen oder Dienstleistungen für das Projekt bereitstellen.
        </li>
        <li>
          <strong>Endbenutzer</strong>: Die Personen, die das Projektprodukt
          oder -ergebnis nutzen werden.
        </li>
        <li>
          <strong>Regulierungsbehörden</strong>: Institutionen, die Vorschriften
          und Standards festlegen, die das Projekt einhalten muss.
        </li>
      </ul>
    </div>
    <h2 class="text-xl font-bold mb-4 mt-8">
      Bedeutung der Stakeholder-Analyse
    </h2>
    <p class="mb-8 max-w-4xl">
      Eine Stakeholder-Analyse hilft dabei, die Interessen, Erwartungen und den
      Einfluss der verschiedenen Stakeholder auf das Projekt zu verstehen. Dies
      ist wichtig, um sicherzustellen, dass ihre Bedürfnisse und Anliegen
      angemessen berücksichtigt werden und um potenzielle Konflikte frühzeitig
      zu erkennen.
    </p>
  </div>
</BaseLayout>
