---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">
      Datenschutz in Deutschland
    </h1>

    <div class="border border-gray-300 p-4 mb-4 max-w-4xl">
      <h2 class="text-xl font-bold mb-4">Was ist Datenschutz?</h2>
      <p>
        Datenschutz schützt persönliche Informationen vor unbefugtem Zugriff.
        Ziel ist es, dass persönliche Daten nur für bestimmte Zwecke verwendet
        werden und die Rechte der betroffenen Personen gewahrt bleiben.
      </p>
    </div>

    <div class="border border-gray-300 p-4 mb-4 max-w-4xl">
      <h2 class="text-xl font-bold mb-4">Was ist das BSI?</h2>
      <p>
        Das <strong
          >Bundesamt für Sicherheit in der Informationstechnik (BSI)</strong
        >
        ist die zentrale Stelle in Deutschland für IT-Sicherheit. Es bietet Beratung
        und Unterstützung zum Schutz von IT-Systemen und Daten und entwickelt Sicherheitsstandards.
      </p>
    </div>

    <div class="border border-gray-300 p-4 mb-4 max-w-4xl">
      <h2 class="text-xl font-bold mb-4">Personenbezogene Daten</h2>
      <p>
        <strong>Personenbezogene Daten</strong> sind alle Informationen, die sich
        auf eine identifizierte oder identifizierbare Person beziehen. Dazu gehören
        Name, Adresse, E-Mail-Adresse und auch Daten wie Geburtsdatum oder IP-Adresse.
      </p>
    </div>

    <div class="border border-gray-300 p-4 mb-4 max-w-4xl">
      <h2 class="text-xl font-bold mb-4">Gesetzliche Grundlagen</h2>
      <ul class="list-disc list-inside pl-6 space-y-4">
        <li>
          <strong>Datenschutz-Grundverordnung (DSGVO)</strong>: Die DSGVO ist
          eine EU-Verordnung, die die Verarbeitung personenbezogener Daten
          regelt und die Rechte von Bürgern schützt.
        </li>
        <li>
          <strong>Bundesdatenschutzgesetz (BDSG)</strong>: Das BDSG ergänzt die
          DSGVO in Deutschland und enthält spezifische Regelungen zum
          Datenschutz im nationalen Kontext.
        </li>
        <li>
          <strong>Telekommunikation-Telemedien-Datenschutzgesetz (TTDSG)</strong
          >: Dieses Gesetz regelt den Datenschutz im Bereich der
          Telekommunikation und von Telemedien, wie zum Beispiel
          Online-Diensten.
        </li>
        <li>
          <strong
            >Gesetz über den Datenschutz bei der Verarbeitung von Daten in der
            Polizei- und Justizverwaltung (PDSG)</strong
          >: Dieses Gesetz regelt den Datenschutz in der Polizei- und
          Justizverwaltung.
        </li>
      </ul>
    </div>

    <div class="border border-gray-300 p-4 max-w-4xl">
      <h2 class="text-xl font-bold mb-4">Anforderungen an den Datenschutz</h2>
      <ul class="list-disc list-inside pl-6 space-y-4">
        <li>
          <strong>Daten nur begrenzt speichern:</strong> Personenbezogene Daten sollten
          nur so lange gespeichert werden, wie es für den vorgesehenen Zweck erforderlich
          ist.
        </li>
        <li>
          <strong>Nur notwendige Daten sammeln:</strong> Es sollten nur die Daten
          gesammelt werden, die für den jeweiligen Zweck unbedingt erforderlich sind.
        </li>
        <li>
          <strong>Zugriff einschränken:</strong> Der Zugriff auf personenbezogene
          Daten sollte auf autorisierte Personen beschränkt sein, um unbefugten Zugriff
          zu verhindern.
        </li>
        <li>
          <strong>Sicherheit gewährleisten:</strong> Es sollten geeignete Sicherheitsmaßnahmen
          getroffen werden, um die Daten vor Verlust, Missbrauch und unbefugtem Zugriff
          zu schützen.
        </li>
        <li>
          <strong>Transparenz bieten:</strong> Betroffene Personen sollten darüber
          informiert werden, wie ihre Daten verarbeitet werden und welche Rechte
          sie haben.
        </li>
        <li>
          <strong>Regelmäßige Überprüfung:</strong> Die Datenschutzmaßnahmen sollten
          regelmäßig überprüft und angepasst werden, um den aktuellen gesetzlichen
          Anforderungen und Sicherheitsstandards zu entsprechen.
        </li>
      </ul>
    </div>
  </div>
</BaseLayout>
