---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-center">
      Kriterien eines sicheren Passworts
    </h1>
    <div class="max-w-4xl w-full border border-gray-300 p-4 mb-4">
      <ul class="list-disc pl-6 space-y-4 max-w-4xl">
        <li>
          <strong>Länge</strong>: Ein sicheres Passwort sollte mindestens 12
          Zeichen lang sein. Längere Passwörter sind sicherer.
        </li>
        <li>
          <strong>Komplexität</strong>: Verwenden Sie eine Mischung aus Groß-
          und Kleinbuchstaben, Zahlen und Sonderzeichen.
        </li>
        <li>
          <strong>Keine persönlichen Informationen</strong>: Vermeiden Sie
          Namen, Geburtstage oder andere leicht zu erratende Informationen.
        </li>
        <li>
          <strong>Einzigartigkeit</strong>: Nutzen Sie für jede Anwendung ein
          einzigartiges Passwort, um Sicherheitsrisiken zu minimieren.
        </li>
        <li>
          <strong>Passwortmanager</strong>: Verwenden Sie einen Passwortmanager,
          um starke und einzigartige Passwörter zu erstellen und zu verwalten.
        </li>
      </ul>
    </div>
  </div>
</BaseLayout>
